.pdb_viewer__root{
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
}

.pdb_viewer__menu{
    order: 1;
    flex-grow: 2;
}

.pdb_viewer__body{
    order: 2;
    flex-grow: 4;
}