html,
body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.loading-image {
    position: fixed;
    z-index: 5000;
    left: 50%;
    right: 50%;
    bottom: 50%;
    top: 50%;
}

.loading {
    filter: blur(5px);
}

#root {
    height: 100%;
    min-height: 100%;
}